@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
@import '~tachyons/css/tachyons.min.css';

html {
  font-size: 62.5%;
  padding: rem-calc(20);
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}
